<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--映射文件,专门写sql语句的文件,映射成对象-->
<mapper namespace="com.hyw.springboot010.mapper.UserMapper">

    <select id="selectAll" resultType="User">
        select id,username,password from user
    </select>
</mapper>