<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <style>
    body{display:flex;justify-content:center;align-items:center;min-height:100vh;margin:0;}
    .box{width:360px;text-align:center;}
    .msg{color:red;}
  </style>
</head>
<body>
<div class="box">
  <h2 >学生成绩管理系统</h2>
  <p class="msg" th:text="${msg}" th:if="${msg!=null}"></p>
  <form th:action="@{/admin/login}" method="post">
    <p><input name="username" placeholder="账号"/></p>
    <p><input type="password" name="password" placeholder="密码"/></p>
    <p><button type="submit">登录</button></p>
  </form>
</div>
</body>
</html>
